:root {
  --fern-green: #00FF33;
  --logo-black: #000000;
  --forest-green: #006600;
  --mint-green: #CCFFCC;
  --charcoal-grey: #333333;
  --off-white: #F2F2F2;
}

body{
    background-color: var(--off-white);
}

h1{
    color: var(--logo-black);
}

p{
    color: var(--charcoal-grey);
}

summary{
    color: var(--charcoal-grey);
}

a:hover{
    color: var(--fern-green);
}

img:hover{
    box-shadow: 0px 0px 15px 3px var(--fern-green);
}


#navbar {
  position: sticky;
  top: 0px;
  border: 2px solid black;
  background-color: var(--forest-green);
}

#navbaricons:hover{
    color: var(--fern-green);
}



#Simplicissimuslogo{
    cursor: pointer; 
    border-radius: 50px;

    animation: SimplicissimusLogoAnimation;
    animation-duration: 5s;
}

#Hooglogo{
    cursor: pointer; 
    border-radius: 50px;

    animation: HoogLogoAnimation;
    animation-duration: 5s;
    
}

@keyframes SimplicissimusLogoAnimation {
    from{transform: translateX(-460%);}
    to{transform: translateX(0%);}
}

@keyframes HoogLogoAnimation {
    from{transform: translateX(460%);}
    to{transform: translateX(0%);}
}

#FeaturedChannelDIV{
    display: flex; 
    justify-content: center; 
    gap: 15px;

    animation: FeaturedChannelAnimation;
    animation-duration: 4s;
}

@keyframes FeaturedChannelAnimation {
    from{transform: translateY(300px);}
    to{transform: translateY(0);}
}


#video-section{
    animation: VideoSectionAnimator;
    animation-duration: 10s; 
}


@keyframes VideoSectionAnimator {
    from{opacity: 0;}
    to{opacity: 1;}
}
